<div class="container-fluid">
  <div class="jumbotron"><h1>How to user ngxCurrencyFormatterModule</h1></div>

  <h4>How to use ngxCurrencyFormatter</h4>
  <br>

  <pre>
    &lt;input type="text" name="value" ngxCurrencyFormatter [(ngModel)]="value"&gt;
  </pre>

  <div class="form-group">
    <input type="text" class="form-control" name="value" ngxCurrencyFormatter [(ngModel)]="value1">
  </div>

  <pre>
    model value: {{ value1 }}
  </pre>

  <hr>

  <h4>How to use ngxCurrencyFormatter with properties</h4>
  <br>

  <pre>
    &lt;input type="text" name="value" ngxCurrencyFormatter [code]="'US'" [digit]="'1.4'" [(ngModel)]="value"&gt;
  </pre>

  <div class="form-group">
    <input type="text" class="form-control" name="value" ngxCurrencyFormatter [code]="'US'" [digit]="'1.4'"
           [(ngModel)]="value2">
  </div>

  <pre>
    model value: {{ value2 }}
  </pre>

  <hr>

  <h4>How to use ngCurrencyValidator</h4>
  <br>
  <pre>
    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;value&quot; ngxCurrencyFormatter ngxNumberValidator [code]=&quot;'US'&quot; [digit]=&quot;'1.4'&quot; [(ngModel)]=&quot;value3&quot; #value3Input=&quot;ngModel&quot;&gt;
    &lt;div class=&quot;has-danger&quot; *ngIf=&quot;value3Input.invalid && (value3Input.dirty || value3Input.touched)&quot;&gt;
      This is not a valid number
    &lt;/div&gt;
  </pre>

  <div class="form-group" >
    <input type="text" class="form-control" name="value" ngxCurrencyFormatter ngxNumberValidator [code]="'US'" [digit]="'1.4'"
           [(ngModel)]="value3" #value3Input="ngModel">
    <div class="text-danger" *ngIf="value3Input.invalid && (value3Input.dirty || value3Input.touched)">
      {{value3Input.errors}}
    </div>
  </div>

  <pre>
    model value: {{ value3 }}
    control valid: {{ value3Input.valid}}
    control error: {{ value3Input.errors | json}}
  </pre>

</div>


